SOLIDINVOICE_ENV=dev
SOLIDINVOICE_DEBUG=1

###> symfony/brevo-mailer ###
# MAILER_DSN=brevo+api://KEY@default
# MAILER_DSN=brevo+smtp://USERNAME:PASSWORD@default
# BREVO_API_KEY=your-brevo-api-key-here
###< symfony/brevo-mailer ###
